body {
	margin: 0px;
	font-size: 1.1em;
	background-color:#becccb ;
}

footer, nav {
	text-align: center;
	color: deeppink;
}

nav ul li {
	display: inline;
    margin-right: 10px;
}

a {
	color: maroon;
	font-weight: bold;
}

h1 {
	margin: 30px;
	color: Maroon;
	text-align: center;
}

h2 {
	margin: 30px;
	color: darkmagenta;
	text-align: center;
}

label {
	color: ;
}

#food-picture {
	display: block;
	color: LightBrown;
	size: 100%;
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#banner-text {
	font-weight: bold;
	padding: 150px 100px;
	text-align: center;
	color: rgb(0, 0, 0);
}

hr { 
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 3px;
	border-color: darkred;
  } 

#booton {
	display: grid;
	margin: auto;
	font-size: larger;
}
